/node_modules/
/src/editor2/*
!/src/editor2/globaux/
!/src/editor2/globaux/*
src/editor2/globaux/enums.ts
.env
/src/editor/editor.iml
/src/editor/.idea/
/src/EditorSave/.idea/workspace.xml
/src/EditorSave/.idea/vcs.xml
/build/*
